body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

img {
  display: block;
}

.circular-portrait-jen {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.circular-portrait-jen img {
  width: 100%;
  height: auto;
  margin-top: -30px;
}

.circular-portrait {
  margin:0 auto;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circular-portrait img {
  width: 100%;
  height: auto;
  margin-top: -30px;
}

#profiles {
    width: 100%;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#profiles a {
    vertical-align: top;
    text-align: center;
    align-items: center;
    orientation: vertical;
    display: inline-block;
}

#profiles-second {
    width: 70%;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#profiles-second a {
    vertical-align: top;
    horizontal-align: middle;
    text-align: center;
    orientation: vertical;
    display: inline-block;
}

#bio {
    width: 200px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
